<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      textarea {
      	width:100% !important;
      }
      .footer .badge img {
      	margin-top:0px;
      	margin-left:0px;
      	display:inline-block;
      }
      .footer {
      	text-align:center;
      	margin:0 auto;
      }
      #contentdoc {
        width:66%;
        height:100%;
        border:1px solid #ddd;
        padding:2em;
        color:#333;
        background-color:white;
        margin:1em auto 2em auto;
      }
      .ib {
        display:inline-block;
      }
      .vt {
        vertical-align:top;
      }
      .vm {
        vertical-align:middle;
      }
      .vb {
        vertical-align:bottom;
      }
    </style>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.min.js"></script>
  	<script type="text/javascript">
  	if (typeof jQuery == 'undefined') {
  	    document.write(unescape("%3Cscript src='/js/jquery-1.7.2.min.js' type='text/javascript'%3E%3C/script%3E"));
  	}
  	</script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Flyleaf</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li<% if(section=='about') { %> class="active"<% } %>><a href="/readsocial/flyleaf/about">About</a></li>
              <li<% if(section=='create') { %> class="active"<% } %>><a href="/readsocial/flyleaf">Create</a></li>
            </ul>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <div class="container">

		<%- body %>

      <hr/>

      <footer>
      	<div class="footer">

          <div>
          <% if(section=='view') { %>
            <a clas="btn" href="/readsocial/flyleaf">Make another</a><br/>
            <a class="btn btn-primary" data-toggle="modal" href="#linkshare">Share this one</a>
          <% } %>

          <div class="btn btn-primary">Powered by <a title="ReadSocial" href="https://www.readsocial.net"><img  style="vertical-align:bottom" src="/images/readsocial-logo-white-20px.png" /></a></div>
          </div>
    	  </div>
      </footer>

    </div> <!-- /container -->


  </body>
</html>




