


<h1>About ReadSocial Flyleaf</h1>


<p>ReadSocial Flyleaf is a simple demonstration of the power of the ReadSocial API to allow paragraph-level annotation of ANY text at all. Just paste in some text, and share the link with your friends.</p>