
<h1>Post a Flyleaf</h1>

<div id="contentdoc">
<form method="post" action="/readsocial/flyleaf/create"> 

	<div>
	<label>ReadSocial Group name</label><input type="text" name="groupname" value="" />
	</div>

	<div>
	<label>Reading Sample</label><textarea name="body" cols="80" rows="40"></textarea>
	</div>

 	<div>
	<input type="submit" name="submit" />
	</div>

</form>
</div>